<footer class="site-footer">
  <div class="container">
    <p class="site-footer-text">&copy; {{year}} Pluvia Academy. All rights reserved.</p>
  </div>
</footer>
<script src="/js/app.js"></script>
</body>
</html>
