<header class="site-header">
  <a class="brand" href="/">
    <img src="/img/logo-pngegg.png" alt="Pluvia Academy" class="logo"/>
    <span>Pluvia Academy</span>
  </a>

  <div class="container header-row">
    <!-- Nav cluster: wrapper so nav and login are a single unit -->
    <div class="nav-cluster">
      <nav id="siteNav" class="site-nav" aria-label="Main navigation">
        {{#if user}}
          <a href="/" title="Home"><img src="/img/nav-home.png" alt="home" class="nav-icon"/><span>Home</span></a>
          <a href="/courses" title="Kursus"><img src="/img/nav-kursus.png" alt="kursus" class="nav-icon"/><span>Kursus</span></a>
          <a href="/about" title="Materi"><img src="/img/nav-materi.png" alt="materi" class="nav-icon"/><span>Materi</span></a>
          <a href="/paket_kursus" title="Paket Kursus"><img src="/img/nav-paket.png" alt="paket" class="nav-icon"/><span>Paket Kursus</span></a>
          <a href="/profile" title="Profile"><img src="/img/nav-user.png" alt="profile" class="nav-icon"/><span>{{user.full_name}}</span></a>
          <a href="/logout" title="Logout"><img src="/img/nav-logout.png" alt="logout" class="nav-icon"/><span>Logout</span></a>
        {{else}}
          <a href="/" title="Home"><img src="/img/nav-home.png" alt="home" class="nav-icon"/><span>Home</span></a>
          <a href="/login" title="Login"><img src="/img/nav-login.png" alt="login" class="nav-icon"/><span>Login</span></a>
        {{/if}}
      </nav>
    </div>
  </div>
</header>
